/* Start Header */

.header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;

}

.header .container::after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% - 30px);
    background-color: var(--border-color-header);
    bottom: 0;
    left: 15px;
}

.header .container .logo img {
    height: 40px;
}

.header .container .nav-bar {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.header .container .nav-bar ul {
    display: flex;
}



.header .container .nav-bar ul li a {
    position: relative;
    display: block;
    color: white;
    font-size: 1rem;
    padding: 40px 10px;
    transition-duration: var(--transition-ms);
    transition-property: color;
}

.header .container .nav-bar ul li a.active,
.header .container .nav-bar ul li:hover a {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    z-index: 2;
}

.header .container .nav-bar .form {
    width: 40px;
    height: 30px;
    margin-left: 40px;
    border-inline-start: 2px solid white;
    position: relative;
}

.header .container .nav-bar .form i {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    position: absolute;
}

i.icon {
    color: white;
    font-size: 20px;
}



@media (min-width: 768px) {
    .header .container .nav-bar .toggle-menu i {
        display: none;
        position: relative;
    }
}

/* mobile screen */
@media (max-width: 767px) {
    .header .container .nav-bar .toggle-menu {
        padding-block: 40px;
    }

    .header .container .nav-bar ul {
        display: none;

    }

    .header .container .nav-bar .toggle-menu:hover ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: calc(100% - 15px);
        left: 0;
        width: 100%;
        z-index: 3;
        background-color: #284650;
    }

    .header .container .nav-bar .toggle-menu:hover ul:hover {
        display: block;
    }

    .header .container .nav-bar .toggle-menu:hover ul li a {
        padding: 15px;
        position: relative;
    }

    .header .container .nav-bar .toggle-menu:hover ul li:hover a {
        color: var(--main-color);
        border-bottom: 3px solid var(--main-color);
    }

    /* .header .container .nav-bar .toggle-menu:hover ul li::after a {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: red;
    } */

}

/* End Header */