.contact-us {
    padding-block: var(--section-padding);
}

.contact-us-container {
    display: flex;


    justify-content: space-between;
    margin-top: 40px ;

}

@media (max-width: 767px) {
    .contact-us-container {
        flex-direction: column;
        flex-basis: 100%;
    }

}

.contact-us-container form {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

@media (max-width: 991px) {
    .contact-us-container form {
        flex-basis: 60%;
        margin-bottom: 50px;
    }

}

.contact-us-container form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}

.contact-us-container form textarea.main-input {
    height: 200px;
}


.contact-us-container form button {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}



.contact-us-container .info-contact {
    flex-basis: 25%;

}

.contact-us-container .info-contact h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
}



@media (max-width: 767px) {
    .contact-us-container .info-contact h4::after {
        content: "";
        position: absolute;
        bottom: -15px;
        height: 1px;
        width: 5px;
        background-color: var(--main-color);
        left: 50%;
        transform: translateX(-50%);
        transition: all 500ms;
    }
    .contact-us-container .info-contact h4:hover::after {
        width: 120px;
    
    }
}



.contact-us-container .info-contact h4:nth-of-type(2) {
    margin-top: 90px;
}
@media (max-width: 767px)  {
    .contact-us-container .info-contact h4:nth-of-type(2) {
        margin-top: 30px;
    } 
}
.contact-us-container .info-contact span {
    display: block;
}

.contact-us-container .info-contact span.phone {
    color: #777;
    margin-bottom: 10px;
}

.contact-us-container .info-contact address {
    line-height: 2;
    color: #777;
}

@media (max-width: 767px) {
    .contact-us-container {
                flex-direction: column-reverse;
    }
    .contact-us-container form button {
        margin: auto;
    }

    .contact-us-container .info-contact {
        text-align: center;
        margin-bottom: 50px ;


    }

}